@import "md/_colors";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#top-navbar {
  #select-on-topbar {
    .md-field:not(.md-disabled):after,
    div.md-field:not(.md-disabled):after,
    .md-field:before {
      background-color: transparent !important;
    }
    .md-field {
      label {
        top: 23px;
        bottom: 0;
      }
    }
    .md-field.md-focused,
    .md-field.md-has-value {
      label {
        top: 0;
      }
    }
  }

  #btn-add-news {
    border-radius: 50px;
    .md-list-item-container .md-ripple {
      i,
      p {
        margin: 0;
      }
    }
  }
}

#news-lists {
  h4 {
    font-size: 16px;
  }
  .news-grid {
    position: relative;
    .md-card {
      margin: 0;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      .md-card-header {
        background-color: transparent;
        box-shadow: none;
        margin: 0;
      }
      .md-card-media + .md-card-header {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .md-card-example {
    .md-subhead {
      .md-icon {
        $size: 16px;

        width: $size;
        min-width: $size;
        height: $size;
        font-size: $size !important;
      }

      span {
        vertical-align: middle;
      }
    }

    .card-reservation {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .md-icon {
        margin: 8px;
      }
    }

    .md-button-group {
      display: flex;

      .md-button {
        min-width: 60px;
        border-radius: 2px;
      }
    }
  }
}

#addnews {
  #upload-file {
    display: flex;
    margin-top: 5em;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .md-card-stats {
    .md-card-content {
      text-align: left;
      .category {
        margin-top: 1rem;
        color: $black;
      }
      .short-description,
      .genre {
        min-height: 32px;
      }
      // .md-field:before {
      //   background-color: $orange !important;
      // }
      // .md-field.md-focused {
      //   .md-input {
      //     color: $orange;
      //   }
      // }
    }
  }
  .md-radio {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .md-toolbar .md-button:first-child {
    display: none;
  }
}
